* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #474a51;
  height: 100%;
  color: #fff;
}

.texto {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

button {
  background: transparent;
}

.active-language {
  color: #fff;
  border-radius: 8px;
  background: #000;
  position: relative;
}

.reject-language {
  border-radius: 8px;
  background: transparent;
  color: #000;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem .5rem;
}

.container .box {
  max-width: 680px;
  padding: 1rem 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container .box header {
  width: 100%;
  padding: 1rem;
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.container .box header .configs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container .box header .btn-models {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s width ease-in-out, 0.5s height ease-in-out;
  overflow: hidden;
  position: absolute;
  top: -20px;
  left: -15px;
  z-index: 10;
}

.container .box header .btn-models .model-button {
  display: none;
  padding: .5rem .8rem;
  border: none;
  border-radius: 8px;
}

.container .box header .btn-models:not(.expanded) .dots {
  margin: 0 0 6px 0px;
  color: #000;
}

.container .box header .btn-models:not(.expanded) .mark {
  display: none;
}

.container .box header .btn-models.expanded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 4rem;
  border-radius: 8px;
  overflow: hidden;
}

.container .box header .btn-models.expanded .dots {
  display: none;
}

.container .box header .btn-models.expanded .model-button {
  display: inline-block;
}

.container .box header .btn-models.expanded .active-language::after {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: red;
}

.container .box header .sign-up {
  position: absolute;
  right: 0;
  top: 0;
}

.container .box header .pointer {
  position: absolute;
  right: -5px;
  top: 20px;
  width: 20px;
  animation: moveAndClick 3s infinite;
}

@keyframes moveAndClick {
  0%, 100% {
      top: 20px;
  }
  50% {
      top: 10px;
  }
}

.container .box header .perfil {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container .box header .perfil .img_perfil {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-image: url('./svg/photo-profile.svg');
  background-position: center center;
  background-size: cover;
}

.container .box header .perfil a {
  font-size: 1.1rem;
  color: #fff;
}

.container .box header .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.container .box header .links img {
  height: 25px;
  width: 25px;
}


.container nav {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.container nav a {
  background-color: #fff;
  color: #000;
  padding: .6rem 2.6rem;
  text-align: center;
  border-radius: 6px;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

/* Estilos para o modal  PLAYLIST*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  width: 50%;
  height: 400px;
}

.modal 

.close {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: red;
  border-radius: 50%;
  padding: .3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

footer {
  margin: 1rem 0;
}

footer > a {
  font-size: .7rem;
}